html {
    box-sizing: border-box;
}

body {
    background-color: #3a4750;
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Arial';
    color: white;
}

.container {
    width: 400px;
    margin: 20px auto;
}

.block1 {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    user-select: none;
}

.line {
    background-color: #303841;
    height: 6px;
    border-radius: 3px;
}

h2 {
    font-family: 'Arial';
    color: white;
    letter-spacing: 1px;
    margin-bottom: 5px;
    user-select: none;
}

.pass {
    background-color: #3a4750;
    font-size: 15px;
    padding: 3px;
    font-weight: bold;
    transition: 300ms;
    width: 89%;
    border:none;
}

h2:hover {
    cursor: pointer;
}

#r {
    color: #191f27;
    margin-top: 5px;
    user-select: none;
}

.none {
    display: none;
}

.block {
    display: block;
}

.error {
    background-color: rgba(255, 0, 0, 0.5);
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    transition: 300ms;
    user-select: none;
    text-align: center;
    margin-top: 10px;
}

.overlay {
    background-color: rgba(1, 1, 1, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    cursor: wait;
}

*:focus {
    outline: 0;
    outline-offset: 0;
}

.pass:focus {
    border-color: #00adb5;
}

.block2:has(.pass:focus) {
    border-color: #00adb5;
}

.block3 i {
    margin-top: 4px;
    margin-right: 3px;
}

.block3:hover {
    cursor: pointer;
}

.block3 {
    float: right;
}

button {
    margin: 20px 0;
    width: 100%;
    height: 40px;
    border: none;
    transition: 300ms;
    background-color: #00adb5;
    color: white;
    font-weight: bold;
    font-family: "Arial";
    font-size: 20px;
    border-radius: 3px;
    user-select: none;
}

button:hover {
    cursor: pointer;
    background-color: #008991;
}

.block2 {
    border: 3px solid #303841;
    width: 394px;
    transition: 300ms;
}

.block2>.pass:focus .block2 {
    border-color: #00adb5;
}

#rec_p {
    background-color: rgba(56, 180, 51, 0.5);
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    transition: 300ms;
    user-select: none;
    text-align: center;
    margin-top: 10px;
}