html {
    box-sizing: border-box;
}

body {
    background-color: #3a4750;
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Arial';
    color: white;
}

.line {
    background-color: #303841;
    height: 6px;
    border-radius: 3px;
}

.container {
    margin: 0 auto;
    width: 440px;
}

.title {
    width: 200px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    user-select: none;
}

.block1 {
    color: white;
    text-align: center;
    font-family: "Arial";
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.active {
    color: #00adb5;
}

.slesh {
    color: #303841;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    user-select: none;
}

.sign_in,
.sign_up {
    transition: 300ms;
}

.sign_in:hover,
.sign_up:hover {
    cursor: pointer;
}

input {
    background-color: #3a4750;
    border: 3px solid #303841;
    font-size: 15px;
    padding: 3px;
    font-weight: bold;
    transition: 300ms;
}

.block2 {
    border: 3px solid #303841;
    width: 306px;
    transition: 300ms;
}

.block2>input:focus .block2 {
    border-color: #00adb5;
}

.password {
    margin-bottom: 20px;
}

.password input {
    border: none;
}

form h4 {
    color: white;
    font-family: "Arial";
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 5px;
    user-select: none;
}

form h4:hover {
    cursor: pointer;
}

fieldset>div {
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
}

fieldset {
    border: 6px solid #303841;
    border-radius: 3px;
    margin-bottom: 10px;
}

.block3 {
    float: right;
}

input:not(input[class="pass i3"]) {
    width: 300px;
}

*:focus {
    outline: 0;
    outline-offset: 0;
}

input:not(input[class="pass i3"]):focus {
    border-color: #00adb5;
}

.block2:has(.pass:focus) {
    border-color: #00adb5;
}

.pass {
    width: 89%;
}

.block3 i {
    margin-top: 3px;
    margin-right: 3px;
}

.block3:hover {
    cursor: pointer;
}

.create_account {
    width: 100%;
    height: 40px;
    border: none;
    transition: 300ms;
    background-color: #00adb5;
    color: white;
    font-weight: bold;
    font-family: "Arial";
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
    user-select: none;
}

.create_account:hover {
    cursor: pointer;
    background-color: #008991;
}

.create_account:active{
    cursor: wait;
}

.google {
    width: 100%;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 3px;
    transition: 300ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: "Arial";
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
    user-select: none;
}

.google:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

.google:active {
    cursor: wait;
}

.google img {
    width: 30px;
    height: 30px;
}

.foot {
    color: white;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.foot a {
    color: #00adb5;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}

.check_email {
    background-color: rgba(255, 0, 0, 0.5);
    font-weight: bold;
    padding: 5px;
    width: 302px;
    margin-top: 5px;
    border-radius: 3px;
    display: none;
    transition: 300ms;
}

input[type="email"]:invalid + .check_email {
    display: block;
}

#r {
    color: #191f27;
    margin-top: 5px;
    display: none;
}